@model List<StokKarti>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Yeni Stok Kartı</h5>
                <h6 class="card-subtitle mb-2 text-muted">stok kartı bilgileri</h6>
                <form>
                    <div class="form-group">
                        <label for="stokadi" class="form-label">Stok Adı</label>
                        <input type="text" class="form-control" id="stokadi" placeholder="Stok Kartı Adı">
                    </div>

                    <div class="form-group">
                        <label for="barkod" class="form-label">Barkod</label>
                        <input type="text" class="form-control" id="barkod" placeholder="Stok Barkod">
                    </div>

                    <div class="form-group">
                        <label for="birim" class="form-label">Birimi</label>
                        <select name="birim" id="birim" class="form-control">
                            <option value="0">Adet</option>
                            <option value="1">Koli</option>
                            <option value="2">Kg</option>

                        </select>

                    </div>

                    <div class="form-group">
                        <label for="kdv" class="form-label">KDV</label>
                        <input type="number" class="form-control" id="barkod" placeholder=" % Kdv">
                    </div>

                    <div class="form-group">
                        <label for="alisfiyati" class="form-label">Alış Fiyatı</label>
                        <input type="number" class="form-control" id="alisfiyati" placeholder="Alış Fiyatı">
                    </div>

                    <div class="form-group">
                        <label for="satisfiyati" class="form-label">Satış Fiyatı</label>
                        <input type="number" class="form-control" id="satisfiyati" placeholder="Satış Fiyatı">
                    </div>
                    <button class="btn btn-primary mt-3">Kaydet</button>
                </form>
            </div>
        </div>


 

